{% extends "base.html" %}
{% block content %}
  <div class="search-bar">
    <form hx-get="/search" hx-target="#book-results" hx-push-url="true">
      <input type="text" name="query" placeholder="Search...">
      <select name="searchDropdown">
        <option value="title">Title</option>
        <option value="author">Author</option>
      </select>
      <button type="submit">Search</button>
    </form>
  </div>

  <h1>BOOOKS</h1>
  <div id="book-results">
    {% include "partials/book_list.html" %}
  </div>
{% endblock %}
